<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Demand Corporate Category Flat Bootstrap Responsive Website Template | About :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Demand Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	<style>
		.txtBox{
			width: 200px;
			padding: 5px;
			margin: 5px;
		}
	</style>
</head>
<body>
<!-- header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"></span> IT FEST </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
            <ul class="menu ml-auto mt-1">
				<li class="active"><a href="{% url 'adminhome' %}">Home</a></li>
                <li class=""><a href="{% url 'approvestudents' %}">Students</a></li>
                <li class=""><a href="{% url 'addcoordinator' %}">Add Coordinator</a>
                <li class=""><a href="{% url 'addjudge' %}">Add judge</a></li>
				<li class=""><a href="{% url 'addevent' %}">Add Events</a></li>
                <!-- <li class=""><a href="{% url 'allocatejudge' %}">Allocate judge</a></li> -->
				<li class=""><a href="{% url 'addwinner' %}"> Winners</a></li>
                <li class=""><a href="{% url 'viewfeedback' %}">View Feedback</a></li>
              
                <li class=""><a href="{% url 'login' %}">Logout</a></li>
</li>
			
			
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- inner-banner -->
<section class="inner-banner" id="home">
	<div class="inner-layer">
		<div class="container">
		</div>
	</div>
</section>
<!-- //inner-banner -->

<!-- breadcrumb -->
<div class="breadcrumb-w3pvt bg-light">
	<div class="container">
	<nav aria-label="breadcrumb">
		
	</nav>
	</div>
</div>
<script>

	var msg="{{msg}}";
	if(msg!="")
	alert(msg)

</script>
<div class="contact-top">
    <br><br><br>
   
<br><br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<!-- <h1 align="center">Category</h1> -->
<table align="center">
<tr><th>Event Name</th><td><input type="text" name="eventname" class="txtBox" required=""></td></tr>
<tr><th>Date</th><td><input type="date" name="eventdate" class="txtBox" required=""></td></tr>
<tr><th>Venue</th><td><input type="text" name="place" class="txtBox" required=""></td></tr>
<tr><th>Time</th><td><input type="time" name="time" class="txtBox" required=""></td></tr>
<tr><th>Coordinator</th><td><select name="cor" class="txtBox" id="">
	{% for data in datas %}
		<option value="{{data.0}}">{{data.1}}</option>
	{% endfor %}
</select></td></tr>


<tr><td class="text-center" colspan="2"><input type="submit" align="center" name="submit" value="ADD" class="btn btn-success mt-2 mb-2"></td></tr>
</table>
</form>